body{
<<<<<<< HEAD
    background-color: palegoldenrod;
=======
    background-color: aquamarine;
    width: 920px;
    margin:  0 auto;
>>>>>>> set body width and margin
}
h1{
    font-size: 18px;
    color: darkgreen;
	bolder: 3px solid lightgreen;
}
p {
 color: green;
}