body{

    background-color: aquamarine;
    width: 920px;
    margin:  0 auto;
	padding:50px;

h1{
    font-size: 18px;
    color: green;
	border: 2px dotted yellow;
}
p {
	margin: 0;
	color: red;
	border: 1 dotted #000;
}